body {
  background-image: url("images/nebula.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  margin: 0;
  padding: 0;
  font: 16px / 1;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  height: 90px;
}

header img {
  height: 150px;
  width: 200px;
  border-radius: 10px 10px 10px 10px;
}

.popname {
  position: relative;
  border: 0px transparent;
  background-color: #fff;
  margin-left: 1em;
  opacity: 0.5;
  border-radius: 10px 10px 10px 10px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #fff transparent transparent transparent;
  opacity: 0.5;
  bottom: 67.4%;
  left: 46%;
}

.list ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin-top: 5em;
}

.list ul li {
  flex: 1;
  margin: 0.5em;
}

.list ul li img {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}

.words {
  background-color: #fff;
  overflow: hidden;
  border: 0px transparent solid;
  border-radius: 0px 0px 10px 10px;
  width: 860px;
}

.read {
  position: relative;
  width: 100px;
  height: 40px;
  background-color: rgb(20, 131, 210);
  border: 0px transparent solid;
  border-radius: 10px 10px 10px 10px;
  color: white;
}

.buzz {
  position: relative;
  width: 860px;
  height: 80px;
  overflow: hidden;
  border: 0px transparent solid;
  border-radius: 10px 10px 0px 0px;
}

footer h1 {
  color: white;
  text-align: center;
}

footer img {
  height: 80px;
  width: 80px;
  margin: 1em;
  align-items: center;
}

footer p {
  color: white;
  font-size: 11px;
  text-align: center;
}
